body{
    background-color: rgb(0, 119, 255);
    color: rgb(255, 72, 0);
    font-family:sans-serif;
margin: 0px;
}
header {border-bottom: solid 4px rgb(0, 255, 115);
padding: 10px;
font-size: 32px;
color: black;
}
section{background: yellow;
padding-bottom: 80px;
padding-top: 50px;
display: flex;
justify-content: center;
}




